

/* main */
main {
   margin-top: 5%;
   
   .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;}

    .btn {
        font-family: 'Montserrat', sans-serif;
    }

    .elements-content {
        margin: 2rem 2rem;
        padding: 1rem;
        background-color: #f49b4a;
        flex-direction: column;
        border-radius: 0.6rem;
        
    }

    .elements-content-two{
        background-color: #f49b4a;
        flex-direction: column;
        border-radius: 0.6rem;
        margin: 2rem 2rem;
        padding: 1rem;
    }



    




}

/* fin main */
